#conteiner {
    border: 2px solid black;
    margin: auto;
    width: 505px;

}
section{
    width: 500px;
    border: 3px solid black;
}
.jol {
       margin-left: 15%;
    border: 10px solid rgba(122, 118, 118, 0.548);
width: 300px;
height: 300px;
border-radius: 50%;
} 

h1,h2,p {
    display: flex;
    justify-content: center;
}
button {
    background-color: rgb(9, 142, 250);
    width: 140px;
    height: 50px;
    margin-bottom: 10%;
    margin-left: 35%;
}

.icons{
    width: 50px;
    height: 50px;
    
  
}
.icon {
    width: 170px;
    height: 100px;
    display: inline;
    justify-content: right;
    outline: 1px solid rgb(99, 82, 82);
}
footer {
    display: flex;
    justify-content: space-around;
    width: 504px;
height: 100px;
    border: 1px solid black;
height: 100px;
    background-color: rgb(66, 60, 60) 
}
.width {
    color: white;
}
.text{
    margin-left: 70px;
    margin-top: -60px;
    font-size: 20px;
    color: brown;
}
h1,p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
h1::before{
    content: "\266b";
} не нашел похожи символ и для футер не нашел поэтому картинку оставил
